<h1>扫描列表</h1>


<%= link_to '扫描任务新建', "/articles/new" %>

<table>
  <tr>
    
    
  </tr>

  <% @hosts.each do |host| %>
    <tr>
      <td><%= host.ip %></td>

      <td><%= host.created_at.strftime("%Y-%m-%d")%></td>

       <td><%= link_to 'Show',"/articles/\'#{host.created_at}\'" %></td>

    </tr>
  <% end %>
</table>